html{
    font-family:"微軟正黑體";
}
body{
    background: -webkit-linear-gradient(60deg,#e0ffdd,#ffe2fe);
    background: -o-linear-gradient(60deg,#e0ffdd,#ffe2fe);
    background: -moz-linear-gradient(60deg,#e0ffdd,#ffe2fe);
    background: linear-gradient(60deg,#e0ffdd,#ffe2fe);
    margin-left:45%;
    margin-top:15%;
}
#submit{
    background-color:#32906e;
    color:white;
    padding-left:10%;
    padding-right:10%;
    padding-top:1%;
    padding-bottom:1%;
}
input, select{
    width:200px;
}
input:valid, select:valid{
    background-color:#9de2d1;
}
